*.tgz
*.UTC
*~
*.iml
*.ipr
*.iws
*.pyc
.nb-gradle
.nb-gradle-properties
.swp
.DS_Store
\#*\#

showtech-ASR-9912-A-generic-2023-Feb-07.122647.UTC
showtech-ASR-9912-A-generic-2023-Feb-07.122812.UTC
showtech-ASR-9912-A-generic-2023-Feb-07.122931.UTC
showtech-ASR-9912-A-generic-2023-Feb-07.122931.UTC 2
.ipynb_checkpoints
# Eclipse
.classpath
.project
.settings

bin/
obj/
.vs/
.vscode
.gradle/
.idea/
build/
node_modules/
coverage
.next/
out/
build
next-env.d.ts
vendor/
composer.lock
.venv
.dockerhub.env
.ghcr.env